<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nuevo registro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background:white;">
  <form (ngSubmit)="submit()">
    <ion-list style="margin-bottom:0px;">
      <ion-item>
        <ion-label floating>Título</ion-label>
        <ion-input type="text" [(ngModel)]="title" name="Title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Mensaje</ion-label>
        <ion-textarea rows="6" [(ngModel)]="message" name="Message"></ion-textarea>
      </ion-item>
      <ion-item no-lines>
        <ion-icon name="image" item-left></ion-icon>
        <ion-label>Imágen</ion-label>
        <button ion-button item-right clear type="button" (click)="presentAddPictureActionSheet()">Seleccionar imágen</button>
      </ion-item>
      <img [src]="image_safe_url" *ngIf="image_safe_url" />
      <ion-item no-lines>
        <ion-icon name="compass" item-left></ion-icon>
        <!-- <ion-label>Registrar ubicación</ion-label> -->
        <!-- <ion-checkbox [(ngModel)]="sendLocation" (click)="loadMap()" name="SendLocation" color="blue" checked="true"></ion-checkbox> -->
        <ion-label name="address">{{address}}</ion-label>
        <button ion-button item-right clear type="button" (click)="showAddressModal()">Seleccionar una ubicación</button>
      </ion-item>
      <!-- <ion-item no-lines *ngIf="sendLocation">
        <ion-icon name="compass" item-left></ion-icon>
        <ion-label name="address">{{address}}</ion-label>
      </ion-item> -->
    </ion-list>
  </form>
  <div *ngIf="sendLocation" style="height:40%" #map id="map"></div>
  
  
</ion-content>
<ion-footer>
  <ion-toolbar no-border-top color="primary">
    <ion-title>Registrar!</ion-title>
    <ion-buttons end>
      <button (click)="submit()" ion-button>
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>