page-page1 {

}


.login-content{
    background: url("../img/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    /*background: url('img/background.jpg');*/
/*background-image: url('../../img/background.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size:cover;*/
/*## Heading*/
}
